body{
    font-family: Helvetica, serif;
}

h1{
    font-size: 80px;
}

h2{
    font-size: 40px;
}

h1,h2{
    color:#EDF2F4;
}

a:link{
    color:#EF233C;
}

header,footer,main{
    padding:30px;
}

header, footer{
    color:#8D99AE;
    background-color:#2B2D42;
}

main{
    background-color:#8D99AE
}

header{
    margin-bottom:10px
}

footer{
    margin-top:10px
}